<?xml version="1.0"?>
<config>
    <modules>
        <LCB_FacebookTrack>
            <version>0.1.0</version>
        </LCB_FacebookTrack>
    </modules>
    <frontend>
        <layout>
            <updates>
                <facebooktrack>
                    <file>facebooktrack.xml</file>
                </facebooktrack>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <facebooktrack_controller_action_predispatch_checkout_cart_add_hook>
                        <class>facebooktrack/observer</class>
                        <method>addedProductToCart</method>
                    </facebooktrack_controller_action_predispatch_checkout_cart_add_hook>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <global>
        <helpers>
            <facebooktrack>
                <class>LCB_FacebookTrack_Helper</class>
            </facebooktrack>
        </helpers>
        <blocks>
            <facebooktrack>
                <class>LCB_FacebookTrack_Block</class>
            </facebooktrack>
        </blocks>
        <models>
            <facebooktrack>
                <class>LCB_FacebookTrack_Model</class>
            </facebooktrack>
        </models>
    </global>
</config> 